<h2 class="ui center aligned huge icon header">
  <i class="inverted yellow wechat icon"></i>
  <div class="content">
    ChatApp
    <div class="sub header">Speak to your friends!</div>
  </div>
</h2>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password" placeholder="Password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui yellow submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>