<h2 class="ui center aligned huge icon header">
  <i class="inverted yellow wechat icon"></i>
  <div class="content">
    ChatApp
    <div class="sub header">Speak to your friends!</div>
  </div>
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                   <p><em>Elliot Fu:</em> Test message.</p>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <p><em>Stevie Feliciano:</em> Test message.</p>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <p><em>Helen Troy:</em> Test message.</p>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <p><em>Christian Rocha:</em> Test message.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input focus" data-children-count="1">
                <input type="text" placeholder="Enter a message...">
                <i class="bordered inverted yellow edit icon"></i>
              </div>
            </div>
          </form>
        </div>
      </div>    
    </div>
    
    <div class="four wide column">
      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
</div>