@import 'bootstrap/dist/css/bootstrap';

body, html {
  margin: 0 !important;
  padding: 0;
}

body {
  height: 100%;
  background: asset-url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#page-content {
  min-height: 91vh;
  flex: 1 0 auto;
}

#message {
  position: absolute;
  z-index: 999;
  
  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  
  width: 40%;
}

.navbar-custom {
  background-color: #785589 !important;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand, navbar-brand:hover {
  font-size: 1.8rem;
  font-family: 'Staatliches', cursive;
  background-color: #785589 !important;
}

.nav-link, .nav-link:hover {
  font-family: 'Open Sans', sans-serif;
  background-color: #785589;
}

.footer {
  min-height: 40px;
  color: white;
  background-color: #04030F;
}

#footer-text {
  line-height: 40px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), 
  url('https://i.ibb.co/TLM7r24/home2.jpg');
  background-size: cover;
  min-height: 92vh;
  color: white;
  text-align: center;
  align-items: center;
  margin-bottom: 0px;
  border-radius: 0px;
}

.btn:visited {
  color: white;
}

.btn-primary {
  background-color: #00B295;
  border-color: #00B295;
  color: black;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary:hover {
  background-color: #785589;
}

#form {
  height: 85vh;
  margin-top: 40px;
}


h1, h2 {
  text-align: center;
  color: white;
  font-family: 'Staatliches', cursive;
  padding-top: 20px;
}


label {
  color: white;
}

.underbutton {
  margin: 20px;
  color: white;
  font-size: smaller;
}

.card {
  background-color: white;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 25px;
  padding-bottom: 10px;
}  

.card-img-top {
  padding: 20px;
  border-radius: 35px;
  max-width: 100%;
}

/* User show page */


.profile-pic {
  width: 15rem;
}

a {
  color: darkslategrey;
}



a:hover {
  color: #785589;
}

h3 {
  margin: 30px;
  font-family: 'Staatliches', cursive;
  color: white;
}

.border {
  border-radius: 3px;
  margin: 0px;
}

.btn-dark {
  background-color: #007A66;
}

.btn-danger {
  margin-top: 20px;
}

.row {
  margin-top: 20px;
}

#background {
  background-color: white;
}


ul {
  border-radius: 25px !important;
}

#profile_photo {
  width: 100%;
  height: auto;
  max-width: 20rem;
}

.edit-text {
  color: black;
  font-weight: bold;
  font-size: large;
}

textarea {
  width: 300px;
  height: 200px;
}

.edit {
  min-height: 90vh;
}

#edit-buttons {
  margin: 20px !important;
}

.form-group {
  margin-left: 20px;
  margin-top: 30px;
}

#event-button {
  margin: 10px !important;
}

.on-dark-background {
  color: white;
}

.form-questions {
  font-size: 15px;
}

#error-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

.avatar {
  margin: 10px;
  border-radius: 25px;
  height: 300px;
  width: 400px;
  object-fit: cover;
  display: block;
}

.main-image {
  margin: 10px;
  border-radius: 20px;
  height: 300px;
  max-width: 450px;
  object-fit: cover;
  display: block;
}

.form-image {
  border-radius: 10px;
  height: 300px;
  max-width: 450px;
  object-fit: cover;
  display: block;
}

.btn-warning {
  background-color: #090722;
  border-color: #090722;
  color: white;
}

#map {
  height: 400px;
  margin: 20px;
}

#event-description {
  min-height: 200px;
  padding-left: 40px;
}

.table-header {
  padding-bottom: 20px;
  font-size: 0.9rem;
  font-weight: bolder;
}

.admin-table {
  margin-top: 2rem;
}


.apple_pagination {
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  padding: 1em;
  cursor: default; }
  
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
  
.apple_pagination .disabled {
  color: #aaaaaa; }
  
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  
.apple_pagination a {
  text-decoration: none;
  color: black; }
  
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }